div.header {
    font-size: 24px;
    margin-bottom: 20px;
}

div.log {
    font-family: Courier New;
}

div.link {
    margin-top: 20px;
}

.logLink {
    margin-right: 10px;
}

.info {

}

.warn {

}

.error {

}
