const config = {
    // API config
    debug: true,
    port: 12345,
    botApiPort: 9001,
    certPath: '/cert/path/goes/here/',
    corsOrigin: 'localhost'
    mysqlHost: 'localhost',
    mysqlUser: '[MYSQL USERNAME GOES HERE]',
    mysqlPassword: '[MYSQL PASSWORD GOES HERE]',
    mysqlDatabase: '[MYSQL DATABASE NAME GOES HERE]',
    tableSuffix: '',
    websocketPingInterval: 15000,
    // Event config
    championSurveyUrl: 'localhost',
    challengerSurveyUrl: 'localhost',
    leaderSurveyUrl: 'localhost',
    surveyStartDate: '1970-01-01T00:00:00Z',
    surveyDurationDays: 14,
    trainerCardShowDate: '1970-01-01T00:00:00Z',
    eventEndDate: '1970-01-01T00:00:00Z',
    bingoBoardWidth: 5,
    requiredBadgesForElites: 8,
    requiredBadgesForChamp: 0,
    requiredEmblemsForChamp: 4,
    emblemWeight: 1,
    maxQueueSize: 20,
    maxQueuesPerChallenger: 4,
    excludedTrainerCardIds: [],
    excludedBingoIds: [],
    multiBingoIds: [],
    sharedBingoIds: {},
    supportsQueueState: false,
    supportsBotNotifications: false,
    meetupTimes: [ { location: 'Handheld Lounge', startTime: '1970-01-01T00:00:00Z', duration: 120 } ],
    bingoBoard: true,
    howToChallenge: true,
    rules: true,
    prizePools: true,
    sideActivities: true,
    schedule: true,
    map: true
};

export default config;
